<footer class="bg-dark text-white text-center py-4 mt-5">
  <div class="container">
    <p class="mb-1">MPEN_GUINEE</p>
    <p class="small mb-0">Université Gamal Abdel Nasser de Conakry •</p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> 
